/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */


.navbar-default, .footer {
	border-color: #ffffff;
	background-color: #f3f4ef;
	width: 100%;
}

.navbar-default .navbar-nav>li>a {
	color: #333;
	font-weight: 500;
	font-size: 17px;
}

.navbar-brand {
	color: #000;
	font-family: 'Denver';
	font-weight: bolder;
	font-size: 35px;
	padding-top: 40px;
}

.navbar-brand:hover{
	color: #000;
}

.navbar-header {
	width: 100%;
}

a.logo {
	float: right !important;
}

a {
	color: #000;
}

a:hover{
	color: #444;
	font-weight: 500;
}


div.region.region-footer {
	max-width: 1170px;
	margin: 0 auto;
}