/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

body, body *{
	font-family:"Times New Roman", Times, serif;
}
.navbar-default, .footer {
	border-color: #ffffff;
	background-color: #f3f4ef;
	width: 100%;
	color: #222;
}
.navbar-default .navbar-brand{
	color: #444;
}

.navbar-default .navbar-brand:hover{
	color: #999;
}

.navbar-default .navbar-nav>li>a {
	color: #333;
	font-weight: 500;
	font-size: 17px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,	a.active-trail.active{
	color: #999;
	background: transparent;
}

.navbar-brand {
	color: #000;
	font-family: 'Denver';
	font-weight: bolder;
	font-size: 35px;
	padding-top: 40px;
}

.navbar-brand:hover{
	color: #000;
}

.navbar-header {
	width: 100%;
}

div.navbar-collapse.collapse {
	padding: 0 0 15px 0;
}

a.logo {
	float: right !important;
}

a {
	color: #000;
}

a:hover{
	color: #999;
	text-decoration: none;
}


div.region.region-footer {
	max-width: 1170px;
	margin: 0 auto;
}

.field .field-label {
	font-weight: bold;
	font-size: 18px;
	padding: 12px 0 0 0;
}

div.field-item.even {
	color: #999;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 20px 10px 0;
}

.nav>li>a:hover, .nav>li>a:focus{
	background: transparent;
}


ul.menu.nav {
	text-align: center;
}

img {
	vertical-align: middle;
	max-width: 1170px;
	height: auto;
	margin: 0 auto;
}

ul.nav {
	text-align: center;
}

.nav li {
	display: inline-block;
}

span.texto {
	display: block;
}

.thumbnail img {
	width: 100%;
}

.navbar-default .navbar-brand {
	font-family: 'Planeta Plakat';
	text-transform: uppercase;
	color: #EB6B4A;
}


.barceloneta{
	top: -288px;
}

.gracia{
	top:15px;
}
.born, .raval, .gotic, .barceloneta, .gracia{

    background-size: 100% auto;
	background-repeat: no-repeat;
	float: left;
}

.gotic{
	top: 14px;
}

.born:hover, .raval:hover, .gotic:hover, .barceloneta:hover, .gracia:hover{
	transition-duration: 2s;
	-webkit-transition-duration: 2s;
}

.img-responsive{width:100%;}

.barthumb{
	text-align: center;
	color: #d06a4d;
	font-family: 'Planeta Plakat';
	

}
.barthumb a{
	color: #d06a4d;

}

.barthumb h1{
	font-size: 24px;
	text-transform: uppercase;
}

.barthumb .img-responsive {
	height: 120px;
	width: auto;
}





